
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">

    <div class="card-body">
        <h5 class="card-title">Aun en desarrollo</h5>
        <p class="card-text">UPS!</p>
        <p class="card-text"><small class="text-muted">@DateTime.Now</small></p>
    </div>
    <img src="~/Content/img/404.jpg" class="card-img-bottom" alt="Ups, aun en desarrollo">
</div>


