@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<div class="container mt-5">
    <h2 class="text-center mb-5">INGENIERIA DE SOFTWARE</h2>
    <h3 class="text-center mb-5">GRUPO 8CV11</h3>
    <h4 class="text-center mb-5">MAESTRO <br>HERRERA MARTÍNEZ ALEJANDRO</h4>
    <br>
    <h1 class="text-center mb-5">Equipo de desarrollo</h1>
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-center">Dorantes Martínez David C.</h3>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Jaime Iriarte Cristian Javier</h3>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Edgar Alonso Landa Correa</h3>
        </div>
    </div>
</div>