@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron jumbotron-fluid .bg-primary text-dark text-center">
    <div class="container">
        <h1 class="display-4">Bienvenido al sistema</h1>
        <p class="lead"></p>
    </div>
</div>

<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Inicio</h1>
        <p class="lead">
            Bienvenido a nuestra aplicación web de gestión de compras y pedidos. Aquí podrá tener un control eficiente y organizado de todos los productos en su
            almacén. Desde la creación de nuevos pedidos hasta la actualización del inventario, todo estará al alcance de sus manos. Con nuestra interfaz intuitiva y fácil de usar,
            su gestión de compras y pedidos será más eficiente que nunca antes. ¡Comience a optimizar su almacén hoy mismo!
        </p>
    </div>
</main>